h1,
p,
.active,
span,
legend,
fieldset {
  color: rgb(255, 255, 255);
}
body {
  background-color: rgb(156, 156, 156);
}

input {
  margin: 0.5em;
}
.erreur {
  color: red;
}
/* 

.active
{
    color: rgb(60, 255, 0);
}
 */
