h1,
p,
.active,
span,
.erreur,
legend,
fieldset {
  color: rgb(255, 255, 255);
}
body {
  background-color: rgb(156, 156, 156);
}

input {
  margin: 0.5em;
}

/* 
h1,p,.active,span,.erreur
{
    color: red;
}
p
{
    color: rgb(0, 118, 154);
}
span
{
    color: rgb(0, 255, 0);
}
.active
{
    color: rgb(60, 255, 0);
}
.erreur
{
    color: red;
    margin: 0;
    margin-top: 0.5rem;
} */
